In [1]:
# string = a string is a swquence of characters such as letters,digits,symbols,or whitespace.    uch as
  # strings are immutable

In [2]:
my_string = "Hello world"

In [3]:
print(my_string)

Hello world

In [4]:
type(my_string)

str

In [5]:
# list =  a list is a data structure that represents an ordered collection of elements. It is a versatile and widely used data structure available in most programming languages. A list allows you to store multiple values of different data types, such as numbers, strings, or even other lists, within a single variable.

In [6]:
my_list = [1,2,3,4,5,]

In [7]:
print(my_list)

[1, 2, 3, 4, 5]

In [8]:
type(my_list)

list

In [9]:
# float =  a float (short for "floating-point number") is a data type used to represent decimal numbers with a fractional component. It is used to store and perform calculations on real numbers that can have both integer and fractional parts.

In [10]:
my_float = 3.14

In [11]:
print(my_float)

3.14

In [12]:
type(my_float)

float

In [13]:
# tuple = a tuple is an ordered collection of elements that can be of different data types. It is similar to a list but has a key distinction: tuples are immutable, meaning they cannot be modified once created

In [14]:
my_tuple = (1,2,3,"Hello",2.30,True)

In [16]:
print(my_tuple)

(1, 2, 3, 'Hello', 2.3, True)

In [17]:
type(my_tuple)

tuple

In [ ]:
#var1 = '': The data type of var1 is a string. It is an empty string.
#var2 = '['DS','ML', 'python']': The data type of var2 is a string. It is a string containing characters, including square brackets and commas.
#var3 = ['DS','ML','python']: The data type of var3 is a list. It is a list containing three string elements: 'DS', 'ML', and 'python'.
#var4 = 1.0: The data type of var4 is a float. It is a floating-point number representing the value 1.0.

In [19]:
#var1: string
#var2: string
#var3: list
#var4: float

In [20]:
# /  (Division Operator): The division operator is used to divide one number by another and obtain the quotient or result of the division.
result = 10 / 3
print(result)

3.3333333333333335

In [21]:
# % (Modulo Operator): The modulo operator calculates the remainder when one number is divided by another.
remainder = 12/4
print(remainder)

3.0

In [22]:
#// (Floor Division Operator): The floor division operator performs division and rounds down the result to the nearest whole number (integer).
result = 10//3
print(result)

3

In [23]:
#** (Exponentiation Operator): The exponentiation operator raises a number to the power of another number.
result = 2**3
print(result)

8

In [24]:
my_list = [1,'Hello',3.14,True,[1,2,3,4],{'name':'rohan','age':25,'city':'Delhi'}]

In [25]:
print(my_list)

[1, 'Hello', 3.14, True, [1, 2, 3, 4], {'name': 'rohan', 'age': 25, 'city': 'Delhi'}]

In [28]:
A = 100 # Dividend
B = 5   # Divisor
count = 0
while A % B == 0:
    A = A // B    #perform integer division
    count += 1
print(f"The number is divisible by B {count} times.")

The number is divisible by B 2 times.

In [1]:
# Create an empty list
numbers = []

# Populate the list with 25 integers
for i in range(1, 26):
    numbers.append(i)

# Check if each element is divisible by 3 or not
for number in numbers:
    if number % 3 == 0:
        print(f"{number} is divisible by 3")
    else:
        print(f"{number} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [2]:
# Immutable data types
x = 5
print(x)  # Output: 5
x = 10
print(x)  # Output: 10

name = "Alice"
print(name)  # Output: Alice
name = "Bob"
print(name)  # Output: Bob

point = (3, 4)
print(point)  # Output: (3, 4)
point[0] = 5  # This will raise an error since tuples are immutable

5
10
Alice
Bob
(3, 4)

TypeError: 'tuple' object does not support item assignment

In [3]:
# Mutable data types
numbers = [1, 2, 3, 4, 5]
print(numbers)  # Output: [1, 2, 3, 4, 5]
numbers[0] = 10
print(numbers)  # Output: [10, 2, 3, 4, 5]

person = {'name': 'Alice', 'age': 25}
print(person)  # Output: {'name': 'Alice', 'age': 25}
person['age'] = 30
print(person)  # Output: {'name': 'Alice', 'age': 30}

fruits = {'apple', 'banana', 'orange'}
print(fruits)  # Output: {'apple', 'banana', 'orange'}
fruits.add('pear')
print(fruits)  # Output: {'apple', 'banana', 'orange', 'pear'}

[1, 2, 3, 4, 5]
[10, 2, 3, 4, 5]
{'name': 'Alice', 'age': 25}
{'name': 'Alice', 'age': 30}
{'apple', 'orange', 'banana'}
{'apple', 'orange', 'pear', 'banana'}